.quizword, .step-warning, .result, .warning{
    padding: 10px;
}

.quizword-value, .step-warning, .choice-value{
    padding-left: 20px;
}

.quizword-value{
    font-style: italic;
    font-weight: bold;
}

.stepBtn{
    padding: 10px;
}

.user-name-input{
/*    width: 250px;*/
}

.user-btn{
    margin-top: 10px;
}